.button {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0.5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 550;
}

.button1 {
  background-color: #0b88ee;
}

.button2 {
  padding: 20px 15px;
  font-weight: 800;
  background-color: #757575;
}

.button3 {
  background-color: #00750a;
  border-radius: 30px;
}

.button4 {
  background-color: #cf1212;
}

.button5 {
  background-color: #f8b932;
  color: #000;
}