@media(max-width:599px) {
  .row {
    flex-wrap: wrap;
  }

  .box {
    flex-basis: 50% !important;
    flex: 0 0 50% !important;
    width: 50% !important;
    max-width: 50% !important;
  }

  .col-4 {
    flex-basis: 100% !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media(max-width:400px) {
  .row {
    flex-wrap: wrap;
  }

  .box {
    flex-basis: 100% !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  .col-4 {
    flex-basis: 100% !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}